<template>
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    Create User 
                </div>
                <div class="card-body">
                    <form @submit.prevent="addUser">
                        <div class="form-group">
                            <label for=""> Name </label>
                            <input type="text" class="form-control form-control-sm" id="name" v-model="user.name">
                            <div v-if="errors.name">
                                {{ errors.name[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""> Email </label>
                            <input type="text" class="form-control form-control-sm" id="email" v-model="user.email">
                            <div v-if="errors.email">
                                {{ errors.email[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""> Password </label>
                            <input type="password" class="form-control form-control-sm" id="password" v-model="user.password">
                            <div v-if="errors.password">
                                {{ errors.password[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""> Re-type Password </label>
                            <input type="password" class="form-control form-control-sm" id="password_confirmation" v-model="user.password_confirmation">
                            <div v-if="errors.password_confirmation">
                                {{ errors.password_confirmation[0] }}
                            </div>
                        </div>
                        <button class='btn btn-sm btn-primary'>Create</button>                    
                    </form>
                </div>
            </div>
        </div>
    </div> 
</template>
<script>
export default {
        data() {
            return {
                user: {},
                errors: {}
            }
        },
        methods: {
            addUser() {
                let uri = 'http://localhost:8000/api/user/store';
                    this.axios.post(uri, this.user).then((response) => {
                        if(response.data.status){
                            this.$swal.fire({
                                title: 'Success',
                                text: "Article created successfully",
                                icon: 'success',
                                timer: 1000
                            })
                            this.$router.push({name: 'home'});
                        } 
                    }).catch((error) => {
                        this.errors = error.response.data.errors
                    })
                    
            }
        }
    }
</script>

